<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="iotHubEndPointUri" value="HotSmartIOT.azure-devices.net"/> 
    <add key="iotDeviceName" value="myFirstDevice"/>
    <add key="iotDeviceKey" value="Tv3vsiF1LpPfbv28p7QVBvn9N0PK6Ny9OYtz9wsu9vY="/>
    <!--Local Url for testing-->
    <!--<add key="BlockChainWebUrl" value="http://localhost:12397/TempTelemetry/GetActiveBatchList"/>-->
    <!--Azure website Url, for final deployed site-->
    <add key="BlockChainWebUrl" value="http://hotsmartcontract.azurewebsites.net/TempTelemetry/GetActiveBatchList"/>
  </appSettings>
</configuration>