<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="iotHubEndPointUri" value="BCHOT.azure-devices.net"/>
    <add key="iotDeviceName" value="myFirstDevice"/>
    <add key="iotDeviceKey" value="whWBRFCoMXHMxT7VUICt6USs8OwvbLEP0ETBpWOerr4="/>
    <!--Local Url for testing-->
    <add key="BlockChainWebUrl" value="http://localhost:12397/TempTelemetry/GetActiveBatchList"/>
    <!--Azure website Url, for final deployed site-->
    <!--<add key="BlockChainWebUrl" value="http://hotsmartcontract.azurewebsites.net/TempTelemetry/GetActiveBatchList"/>-->
  </appSettings>
</configuration>