@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Handling of Temperature Excursion</h1>
    <p class="lead">Pharmaceutical investigational products are shipped, stored in transit, and dispensed in clinical trial sites. These products are often temperature sensitive. A temperature logger is inserted in the boxes and it registers temperature ranges and how many minutes are spent in each range. If the product has spent within allowable limits, it is fit for use. Else, it should be discarded.</p>
    <p><a href="http://www.pharmoutsourcing.com/Featured-Articles/146648-Handling-Temperature-Excursions-and-the-Role-of-Stability-Data/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>HOT - Handling of Temperature Excursion</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>